Source: shaq-view
Section: utils
Maintainer: Matthias <nomtropcomplique@redspher.com>
Build-Depends: debhelper
Standards-Version: 1.2.0

Package: shaq-view
Architecture: all
Priority: optional
Depends: apache2
Description: shaq-view
